header {
    height: 100px;
    background-color: #af0e0e;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

header .container {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

header .container .location {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .container .location .location-ic {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url("../../../assets/icon/location-ic.png") no-repeat center;
    background-size: contain;
    margin-left: 10px;
}

header .container a {
    display: flex;
    align-items: center;
    font-weight: 300;
}

header .container a .title {
    font-size: 48px;
    margin-left: 16px;
}

header .about {
    margin-left: auto;
    height: 100%;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
}

header .about:hover {
    color: ghostwhite;
}
